# All directories should end in / (information used by ide.gradle)

# Ant
ant/

# Gradle
.gradle/
build/

# Maven
target/

# Eclipse
.classpath
.project
.settings/
bin/

# IDEA
*.iws
*.ipr
*.iml
.idea/
out/
