name: 'CI Builds'

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - '*'

jobs:
  check-gradle:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - name: 'Set up JDK'
        uses: actions/setup-java@v5
        with:
          java-version: 8
          distribution: temurin
      - name: Init Gradle Build Action
        uses: gradle/actions/setup-gradle@v5
        with:
            cache-read-only: ${{ github.ref != 'refs/heads/master' }}
      - name: 'Check Spock'
        run: ./gradlew check
  check-maven:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - name: Cache local Maven repository
        uses: actions/cache@v5
        with:
          path: ~/.m2/repository
          key: test-${{ runner.os }}-maven-${{ hashFiles('**/pom.xml') }}
          restore-keys: |
            test-${{ runner.os }}-maven-
      - name: 'Set up JDK'
        uses: actions/setup-java@v5
        with:
          java-version: 8
          distribution: temurin
      - name: 'Check Spock'
        run: |
          ./mvnw -V -B verify
  check-ant:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - name: Cache Ivy download cache
        uses: actions/cache@v5
        with:
          path: ~/.ivy2
          key: test-${{ runner.os }}-ivy-${{ hashFiles('ivy.xml', 'ivysettings.xml') }}
          restore-keys: |
            test-${{ runner.os }}-ivy-
      - name: 'Set up JDK'
        uses: actions/setup-java@v5
        with:
          java-version: 8
          distribution: temurin
      - name: 'Check Spock'
        run: |
          ant test
